[submodule "data-market"]
	path = data-market
	url = git@github.com:hissohathair/data-market.git
[submodule "openPDS"]
	path = openPDS
	url = git@github.com:hissohathair/openPDS.git
[submodule "sense-chrome-extension"]
	path = sense-chrome-extension
	url = git@github.com:sbalko/sense-chrome-extension.git
